li
  p
    = link_to problem.title.first(45), problem_path(problem, :query => params[:query])
    = image_tag 'chat.png', :title => "This problem has #{problem.comments.count} comments" unless problem.comments.empty?
