= link_to oauth_login_path( :facebook), {:alt => 'Login using facebook', :title => 'Login using facebook','data-role'=>"button", 'data-icon'=>"star", 'data-theme'=>"a", :rel=>'external'} do
  Login using facebook
