// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.comments li{
  list-style-type: none;
  border: solid lightgrey 1px;
  padding-left: 10px;
  padding-right: 5px;
  margin: 5px;
  padding-bottom: 16px;

  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;

  div.timestamp{
    display: block;
    float: right;
    font-size: 8px;
    color: lightgray;
    margin-right: 25px;
  }
}

#comment_oppinion{
  max-width: 547px;
  max-height: 100px;
}
