<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @link_component.link %>
</p>


<%= link_to 'Edit', edit_link_component_path(@link_component) %> |
<%= link_to 'Back', link_components_path %>
