#welcome
  %p Welcome to 'Problem Or Not'
  %p This application is indended to manage you problems in general.
  %p You can analyze them, assign tasks to them.
#action
  = link_to 'Sign in'
  = link_to 'Sign up'
  