#welcome
  %h2.text-center.nice-font Welcome to 'Problem Or Not'
  %p.nice-font This application is indended to manage you problems in general.
  %p.nice-font You can analyze them, assign tasks to them.
#action
  .rounded.login
    = link_to 'Sign in or up', new_user_session_path
