%p This site is for keeping track of your imaginary or real problems
= link_to "Login", new_user_session_path, {:alt => 'Login using facebook', :title => 'Login using facebook','data-role'=>"button", 'data-icon'=>"star", 'data-theme'=>"a"}
